body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.header__searchbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.header__overlay {

    &--title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 9rem;
        line-height: 1;

        @media screen and (max-width: 1200px) {
            font-size: 6rem;
        }
    }

    &--subtitle {
        font-size: 3rem;

        @media screen and (max-width: 1200px) {
            font-size: 2rem;
        }
    }

    &--about {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.footer {
    font-size: 1.6rem;
    line-height: 1.5;

    &__resources {
        font-size: 2.75rem;
        font-weight: 700;
    }

    &__contact--title {
        font-size: 2rem;
    }

    &__trademark {
        font-size: 2.5rem;
        font-weight: 700;
    }
}