body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.header__searchbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.header__overlay {

    &--title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 5rem;
        line-height: 1.2;
    }

    &--about {
        font-size: 2rem;
    }
}