body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.header__searchbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.header__overlay {

    &--title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 9rem;
        line-height: 1;
    }

    &--subtitle {
        font-size: 3rem;
    }

    &--about {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.footer {
    font-size: 1.55rem;
    line-height: 1.5;
}