.btn {
    color: $color-secondary !important;
    border: .2rem solid $color-secondary;
    border-radius: 1.5rem;
    padding: 1rem auto !important;

    &:hover {
        color: $color-primary !important;
        border-color: $color-primary;
        background-color: $color-secondary;
    }
}