.btn {
    color: $color-secondary !important;
    border: .2rem solid $color-secondary;
    border-radius: 1.5rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    dis

    &:hover {
        color: $color-primary !important;
        border-color: $color-primary;
        background-color: $color-secondary;
    }
}