.enrollment {
    background-color: $color-primary;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-tertiary;
    position: relative;

    @media screen and (max-width: 702px) {
        height: 70rem;
    }

    @media screen and (max-width: 515px) {
        height: 100rem;
    }

    &__total {
        text-align: center;
        font-weight: 700;

        &--title {
            font-size: 7rem;
            line-height: 1.3;
        }

        &--subtitle {
            font-size: 2rem;
        }
        
    }

    &__breakdown {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        @media screen and (max-width: 515px) {
            flex-direction: column;
        }
    }

    &__category {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 40rem;

        &--icon {
            height: 12rem;
            padding-bottom: 1rem;
        }

        &--title {
            font-size: 3.5rem;
            text-align: center;
        }

        &--subtitle {
            font-size: 1.75rem;
            text-align: center;
            white-space: nowrap;
        }
    }
}

