.enrollment {
    background-color: $color-primary;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-tertiary;
    position: relative;

    @me

    &__total {
        text-align: center;
        font-weight: 700;

        &--title {
            font-size: 7rem;
        }

        &--subtitle {
            font-size: 2rem;
        }
        
    }

    &__breakdown {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    &__category {

        padding: 3rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 30rem;

        &--icon {
            height: 12rem;
        }

        &--title {
            font-size: 3rem;
            text-align: center;
        }

        &--subtitle {
            font-size: 1.25rem;
            text-align: center;
            white-space: nowrap;
        }
    }
}

