.enrollment {
    background-color: $color-primary;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-tertiary;
    z-index: 5;

    &__total {
        text-align: center;
    }

    &__breakdown {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        jus
    }

    &__category {

        padding: 6rem;
        flex: 1;

        &--icon {
            height: 10rem;
        }

        &--title {
            text-align: center;
        }

        &--subtitle {
            text-align: center;
        }
    }
}

