.enrollment {
    background-color: $color-primary;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-tertiary;
    z-index: 5;
    padding: 4rem;

    &__total {
        text-align: center;
    }

    &__breakdown {
        display: flex;
    }

    &__category {

        &--icon {
            width: 10rem;
        }
    }
}

