.footer {
    height: 35rem;
    background-color: $color-tertiary;
    display: flex;

    &__left, &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__left {

    }

    &__icon {
        height: 4rem;
        width: 4rem;
        fill: darkgray;
        transition: all .2s;

        &--facebook:hover {
            fill: #4267B2;
            transition: all .2s;
        }

        &--insta:hover {
            fill: #E1306C;
            transition: all .2s;
        }

        &--twitter:hover {
            fill: #00acee;
            transition: all .2s;
        }
    }

    &__img &__logo {
        height: 7rem;
    }

    &__nav {
        list-style-type: none;
    }

}