.footer {
    height: 30rem;
    background-color: $color-tertiary;
    display: flex;
    padd

    &__left, &__right, &__middle {
        flex: 1;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
    }
}