.footer {
    height: 30rem;
    background-color: $color-tertiary;
    display: flex;
    padding: 6rem;

    &__left, &__right, &__middle {
        flex: 1;
    }

    &__icon {
        height: 3rem;
        width: 3rem;

        &--facebook {
            fill: #4267B2;
        }

        &--insta {
            fill: linear-gradient(#FFDC80, #C13584);
        }

        &--twitter {
            fill: #00acee;
        }
    }
}