.footer {
    height: 40rem;
    background-color: $color-tertiary;
    display: flex;
    flex-wrap: wrap;

    &__left, &__right, &__disclaimer {
        flex: 1 0 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem 10rem;
    }

    &__left {
        justify-content: space-evenly;
    }

    &__disclaimer {
        justify-content: space-evenly;
    }

    &__icon {
        height: 4rem;
        width: 4rem;
        fill: darkgray;
        transition: all .2s;

        &--facebook:hover {
            fill: #4267B2;
            transition: all .2s;
        }

        &--insta:hover {
            fill: #E1306C;
            transition: all .2s;
        }

        &--twitter:hover {
            fill: #00acee;
            transition: all .2s;
        }
    }

    &__img &__logo {
        height: 7rem;
    }

    &__nav {
        list-style-type: none;
        
        &--link {
            text-decoration: none;
        }
    }

}