.footer {
    height: 40rem;
    background-color: $color-tertiary;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1516px) {
        height: 75rem;
    }

    @media screen and (max-width: 1016px) {
        height: 100rem;
    }

    @media screen and (max-width: 644px) {
        height: 125rem;
    }

    &__left, &__right, &__disclaimer {
        flex: 1 0 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem 10rem;
    }

    &__left {
        justify-content: space-evenly;
    }

    &__right {
        justify-content: space-evenly;
    }

    &__disclaimer {
        justify-content: space-evenly;
    }

    &__icons {

        &--link {
            width: 4rem;
            height: 4rem;
            padding-right: 1rem;
        }
    }

    &__icon {
        height: 4rem;
        width: 4rem;
        fill: darkgray;
        transition: all .2s;

        &--facebook:hover {
            fill: #4267B2;
            transition: all .2s;
        }

        &--insta:hover {
            fill: #E1306C;
            transition: all .2s;
        }

        &--twitter:hover {
            fill: #00acee;
            transition: all .2s;
        }
    }

    &__contact--title {
        position: relative;

        &::after {
            display: block;
            content: '';
            width: 10rem;
            height: .2rem;
            background: $color-secondary;
            position: absolute;
            bottom: -1rem;
            left: 0;
        }
    }

    &__img &__logo {
        height: 7rem;
    }

    &__nav {
        list-style-type: none;
        
        &--link {
            font-size: 1.75rem;
            text-decoration: none;
            color: $color-primary;
        }
    }

    &__resources {
        color: $color-primary;
        position: relative;

        &::after {
            display: block;
            content: '';
            width: 10rem;
            height: .2rem;
            background: $color-secondary;
            position: absolute;
            bottom: -1rem;
            left: 0;
        }
    }

    &__trademark {
        color: $color-primary;
    }

    &__legal {
        position: relative;

        &::after {
            display: block;
            content: '';
            width: 10rem;
            height: .2rem;
            background: $color-secondary;
            position: absolute;
            bottom: -1rem;
            left: 0;
        }
    }
}