.header {
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: nowrap;

    &__container--left {
        flex: 1;
        padding: 3rem 7rem;
    }

    &__container--right {
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 3rem;
    }
    
    &__upper {
        background-color: $color-primary;
        flex: 0 1 22.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__logo {
        height: 15rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: $color-tertiary;
        white-space: nowrap;
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        color: $color-tertiary;
        padding: 0 3.5rem;
        transition: all .3s;
        white-space: nowrap;

        &:hover {
            color: $color-secondary;
            transition: all .3s;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__item:hover > &__nav--dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 3.5rem;
        align-items: flex-end;
    }

    &__firstchild {
        padding-left: 0;
    }

    &__nav {
        list-style-type: none;
        display: flex;
        padding-right: 6rem;
        align-content: center;
        flex-wrap: wrap;

        &--dropdown {
            list-style-type: none;
            background-color: $color-primary;
            z-index: 1;
            position: absolute;
            padding: 2rem;
            display: none;
            transform: translateY(3rem);

            &---item {
                display: inline-block;
                color: $color-secondary;
                text-decoration: none;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
                transition: all .3s;
                padding: 1rem 0;

                &:hover {
                    color: $color-tertiary;
                    transition: all .3s;
                }
            }
        }

        @media screen and (max-width: 1466px) {
            display: none;
        }
    }


    &__external {
        display: inline;
        background-color: $color-secondary;
        padding: 2rem 5rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        overflow: hidden;
        position: absolute;
    }

    &__searchbar {
        border: none;
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 6rem;
        text-align: right;
        border-radius: 2rem;
        margin-right: 6rem;

        &:focus {
            outline: none;
        }
    }

    &__contact {
        margin-left: 2.5rem;
    }

    //OVERLAY

    &__lower {
        background-color: $color-primary;
        flex: 1 0 40rem;
        position: relative;
    }

    &__overlay {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: $color-secondary;

        position: absolute;

        &--title {
            text-align: center;
        }

        &--about {
            display: inline-block;
        }
    }

    // RESPONSIVE NAV BAR

    &__icon {

        display: none;

        @media screen and (max-width: 1466px) {
            display: block;
            text-decoration: none;
            background-color: $cp;
        }
    }
}