.header {
    
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__container--left {
        flex: 1;
        padding: 3rem 7rem;
    }

    &__container--right {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 3rem;
    }
    
    &__upper {
        background-color: $color-primary;
        flex: 0 1 22.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__logo {
        height: 15rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: $color-tertiary;
        white-space: nowrap;
    }

    &__lower {
        background-color: $color-primary;
        flex: 1;
        position: relative;
    }

    &__link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        color: $color-tertiary;
        padding: 0 3.5rem;
        transition: all .3s;
        white-space: nowrap;

        &:hover {
            color: $color-secondary;
            transition: all .3s;
        }
    }

    &__nav {
        list-style-type: none;
        display: flex;
        padding-right: 6rem;
        align-content: center;
        flex-wrap: wrap;
    }


    &__external {
        display: inline;
        background-color: $color-secondary;
        padding: 2rem 5rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        overflow: hidden;
        position: absolute;
    }

    &__searchbar {
        border: none;
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 6rem;
        text-align: right;
        border-radius: 2rem;
        margin-right: 6rem;

        &:focus {
            outline: none;
        }
    }

    &__contact {
        margin-left: 2.5rem;
    }

    //OVERLAY

    &__overlay {
        position: absolute;
        display: flex;
        flex-direction: ;

        &--title {
            color: $color-secondary;
        }

        &--about {
            display: inline-block;
        }
    }
}