.news {
    height: 100rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__wrapper {
        display: flex;
        padding: 0 6rem;
        height: 60%;
    }

    &__heading {
        color: $color-tertiary;
        font-size: 5rem;
        font-weight: 700;
        text-align: center;
        line-height: 1;
    }

    &__title {
        font-size: 2rem;
    }

    &__text {
        font-size: 1.5rem;
    }

    &__more {
        font-size: 1.5rem;
    }

    &__items {
        height: 100%;
        width: 30rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 3rem;
        background-color: $color-tertiary;
        align-content: center;
    }

    &__content {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
    }

    &__img {
        flex: 1;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}