.news {
    height: 100rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__wrapper {
        display: flex;
        padding: 0 6rem;
        height: 60%;
    }

    &__heading {
        color: $color-tertiary;
        font-size: 5rem;
        font-weight: 700;
        text-align: center;
        line-height: 1;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.2;
        padding-bottom: 2rem;
        color: $color-primary;
        text-decoration: none;
    }

    &__text, &__more {
        font-size: 1.5rem;
    }


    &__items {
        width: 40rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 3rem;
        background-color: $color-tertiary;
        align-content: center;
    }

    &__content {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem;
    }

    &__img {
        flex: 1;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}