.news {
    height: 75rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__wrapper {
        display: flex;
        padding: 6rem;
    }

    &__heading {
        color: $color-tertiary;
        font-size: 5rem;
        font-weight: 700;
        text-align: center;
    }

    &__items {
        height: 25rem;
        width: 30rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 3rem;
        background-color: $color-tertiary;
        border-radius: 1rem;
        box-shadow: 2rem;
    }

    &__img {
        height: 100%;
        object-fit: contain;
        overflow: hidden;
    }
}