.news {
    height: 75rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        display: flex;
    }

    &__title {
        color: $color-tertiary;
    }

    &__items {
        height: 25rem;
        display: flex;
        flex-direction: column;
    }

    &__img {
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}