.selection {
    height: 50rem;
    background-color: $color-primary;

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__items {
        fill: $color-secondary;

        margin: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_icon {
        width: 10rem;
        height: 10rem;
    }

    &__link {
        text-decoration: none;
        color: $color-secondary;
        font-size: 1.5rem;
    }

    &__details {
        text-align: center;
    }
}