.selection {
    height: 50rem;
    background-color: $color-primary;

    &__wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__items {
        fill: $color-secondary;
        width: 5rem;
        height: 5rem;
    }

    &__link {
        text-decoration: none;
        color: $color-secondary;
    }

}