.selection {
    height: 50rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 1816px) {
        height: 75rem;
    }

    &__title {
        color: $color-secondary;
        font-size: 6rem;
        font-weight: 700;
    }
    
    &__wrapper {
        display: flex;
        justify-items: flex-start;
        flex-wrap: wrap;
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 30rem;
        transition: all .3s;
        flex: 1;
        margin: 3rem 0;

        &:hover {
            transform: scale(1.2);
            width: 35rem;
            transition: all .3s;
        }
    }

    &__icon {
        height: 8rem;
        margin-bottom: 4rem;
    }

    &__link {
        text-decoration: none;
        color: $color-tertiary;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        flex: 1;
    }

    &__details {
        text-align: center;
    }
}