.selection {
    height: 50rem;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__wrapper {
        display: flex;
        justify-items: flex-start;
        flex-wrap: wrap;
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 30rem;
        align-self: center;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__icon {
        height: 10rem;
        margin-bottom: 4rem;
    }

    &__link {
        text-decoration: none;
        color: $color-secondary;
        font-size: 2rem;
        font-weight: 700;
    }

    &__details {
        text-align: center;
    }
}