.selection {
    height: 50rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 1816px) {
        height: 75rem;
    }

    @media screen and (max-width: 916px) {
        height: 100rem;
    }

    @media screen and (max-width: 616px) {
        height: 175rem;
    }

    &__title {
        color: $color-secondary;
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
    }
    
    &__wrapper {
        display: flex;
        justify-items: flex-start;
        flex-wrap: wrap;
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 30rem;
        flex: 1;
        margin: 3rem 0;

    }

    &__icon {
        height: 8rem;
        margin-bottom: 4rem;
    }

    &__link {
        text-decoration: none;
        color: $color-tertiary;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        flex: 1;
        transition: all .3s;

        &:hover {
            transform: scale(1.2);
            border: .5rem solid $color-secondary;
            border-radius: ;
            transition: all .3s;
        }

        &:active {
            transform: scale(1.1);
        }
    }

    &__details {
        text-align: center;
    }
}