.selection {
    height: 50rem;
    background-color: $color-primary;

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__items {
        fill: $color-secondary;
        width: 10rem;
        height: 10rem;
    }

    &__link {
        text-decoration: none;
        color: $color-secondary;
    }

}