.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;
    flex-wrap: wrap;

    &__img {
        flex: 1;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__quote {
        flex: 1.25;
        padding: 6rem;
        color: $color-primary;
    }

}

.quote {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.3;
}

.subquote {
    font-size: 2rem;
}