.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;

    &__wrapper {
        flex: 1;
    }

    &__img {
        clip-path: p;
        overflow: hidden;
    }

    &__quote {
        flex: 1.25;
    }

}

