.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;
    flex-wrap: wrap;

    &__img {
        flex: 1;
        height: 100%;
        overflow: hidden;
    }

    &__quote {
        flex: 1.25;
    }

}

