.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 734px) {
        flex-direction: column;
    }

    &__img {
        flex: 1;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__quote {
        flex: 1.15;
        padding: 6rem;
        color: $color-primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.quote {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.3;
    margin: 2rem 0;
}

.subquote {
    font-size: 2rem;
    margin: 2rem 0;
}