.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;

    &__wrapper {
        flex: 1;
    }

    &__img {
        height: 100%;
        transform: translate(-3);
    }

    &__quote {
        flex: 1.25;
    }

}

