.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;

    &__wrapper {
        fle
        display: flex;
    }

    &__img {
        height: 100%;
        width: 250%;
    }

    &__quote {
        flex: 1.25;
    }

}

