.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;

    &__wrapper {
        width: 20rem;
    }

    &__img {
        height: 100%;
        object-fit: contain;
    }

    &__quote {
        flex: 1.25;
    }

}

