.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;

    &__wrapper {
        flex: 1;
        position: relative;
    }

    &__img {
        width: 100%;
        position: absolute;
    }

    &__quote {
        flex: 1.25;
    }

}

