.testimonials {
    height: 50rem;
    background-color: $color-tertiary;
    display: flex;

    &__img {
        height: 100%;
        flex: 1;
        background-image: url(img/Triet.jpg);
        background-position: -17rem 0;
        background-size: cover;
        border-radius: 2rem 0 0 2rem;
        overflow: hidden;
    }
}
